---
import { render } from "astro:content";
import { getEntry } from "astro:content";

const about = await getEntry("about", "pelle");
if (!about) throw new Error("Could not find entry");
const { Content } = await render(about);
---

<section class="about" id="pelle">
  <img
    class="pelle"
    src="/pellearedalen1.jpg"
    alt="photo of the artist Pelle Skagerlid"
  />
  <div class="about-text-wrapper">
    <p class="about-text">
      <Content />
    </p>
  </div>
</section>

<style lang="scss">
  .about {
    display: flex;
    padding-block: 120px;
    padding-inline: 150px;

    @media (max-width: 900px) {
      flex-direction: column;
      padding-inline: 50px;
    }
  }

  .pelle {
    width: fit-content;
    height: 500px;
    border-radius: 33% 67% 48% 52% / 38% 33% 67% 62%;

    @media (max-width: 500px) {
      width: clamp(300px, 40vw, 600px);
      height: fit-content;
    }
  }

  .about-text-wrapper {
    align-self: center;
    padding: 40px;
  }

  .about-text {
    font-family: "Raleway", sans-serif;
    color: white;
  }
</style>
