---
import { Image } from "astro:assets";

const { title, image, url } = Astro.props;
---

<article class="art-card">
  <a class="art-card-link" href={url}>
    <Image class="art-image" src={image} height={350} width={280} alt={title} />

    <div class="art-card__description">
      <h3 class="art-title">{title}</h3>
      <p class="art-summary"></p>
    </div>
  </a>
</article>

<style>
  .art-card-link {
    text-decoration: none;
    color: inherit;
  }

  .art-title {
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
  }
</style>
