---
import { getCollection } from "astro:content";
import ArtCard from "./ArtCard.astro";

const allArtworks = await getCollection("artGallery");
---

<section id="artGallery" class="art-gallery-section">
  <h2 class="art-gallery-title">Konstgalleri</h2>
  <div class="art-grid">
    {
      allArtworks.map((artwork) => (
        <ArtCard
          title={artwork.data.title}
          image={artwork.data.image}
          url={`/artgallery/${artwork.id}`}
        />
      ))
    }
  </div>
</section>

<style>
  .art-gallery-section {
    padding-block-start: 70px;
    background-color: rgb(127, 144, 133);
    width: 100vw;
  }

  .art-gallery-img {
    height: 500px;
  }

  .art-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 22px;
    row-gap: 22px;
    margin: 20px 0;
    overflow: hidden;
    padding-inline: 150px;

    @media (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
      width: 530px;
      padding-inline: 100px;
    }

    @media (max-width: 800px) {
      grid-template-columns: repeat(1, 1fr);
      width: 250px;
      padding-inline: 50px;
    }
  }

  .art-gallery-title {
    color: white;
    font-size: 33px;
    font-family: "Raleway", sans-serif;
    padding-inline: 150px;

    @media (max-width: 1100px) {
      padding-inline: 100px;
    }

    @media (max-width: 800px) {
      padding-inline: 50px;
    }
  }
</style>
